<footer>
    <div class="footer-container">
        <!-- Section Copyright -->
        <p>&copy; 2025 Chaîne TV - Tous droits réservés.</p>

        <!-- Liens de navigation -->
        <nav class="footer-nav">
            <a href="/apropos">À propos</a>
            <a href="/programmeTv">Programme TV</a>
            <a href="/formulaireProgrammeTv">Ajouter un programme</a>
            <a href="/login">Se connecter</a>
            <a href="/signup">S'inscrire</a>
        </nav>
    </div>
</footer>

