<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/formulaireProgrammeTv.css">
    <link rel="stylesheet" href="css/navbar.css">

    <title>Ajouter un Programme TV</title>  
</head>

<body>
    <%- include('navbar') %> <!-- Inclusion de la barre de navigation -->
    
   <main>
    
    <h1>Ajouter un Programme TV</h1> 

    <form action="/formulaireProgrammeTv" method="POST">
        <label for="titre">Titre :</label>
        <input type="text" id="titre" name="titre" required> 

        <label for="heure_debut">Heure de début :</label>
        <input type="time" id="heure_debut" name="heure_debut" required> 

        <label for="heure_fin">Heure de fin :</label>
        <input type="time" id="heure_fin" name="heure_fin" required> 

        <label for="video">Lien Vidéo :</label>
        <input type="url" id="video" name="video" placeholder="" required>

        <button type="submit">Envoyer</button>
    </form>
   </main> 
   
</body>

</html>
