<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/css/login.css"> <!-- Lien vers la feuille de style -->
</head>
<body>
    <main>
        <h1>Connexion</h1>
        <p>Pas encore de compte ? <a href="/signup">S'inscrire</a></p> <!-- Lien vers l'inscription -->
<!-- Formulaire de connexion -->
    <form action="/login" method="POST">
    <label for="email">Email :</label>
    <input type="email" name="email" required> <!-- Champ pour l'email -->
    
    <label for="password">Mot de passe :</label>
    <input type="password" name="password" required> <!-- Champ pour le mot de passe -->
    
    <button type="submit">Se connecter</button> <!-- Bouton de connexion -->
    </form>

    </main>
    
    
</body>
    <footer>
    </footer>
</html>
