<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaîne TV</title>
    <!-- Lien vers Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous">
</head>
<body>

    <!-- Barre de navigation -->
    <nav>
        <ul>
          <li>
            <a href="/apropos">
              <i class="fas fa-info-circle"></i> <!-- Icône pour "À propos" -->
              À propos
            </a>
          </li>
          <li>
            <a href="/programmeTv">
              <i class="fas fa-tv"></i> <!-- Icône pour "Programme TV" -->
              Programme TV
            </a>
          </li>
          <li>
            <a href="/formulaireProgrammeTv">
              <i class="fas fa-plus-circle"></i> <!-- Icône pour "formulaireProgrammeTv" -->
              formulaireProgrammeTv
            </a>
          </li>
          <li>
            <a href="/signup">
              <i class="fas fa-user-plus"></i> <!-- Icône pour "S'inscrire" -->
              S'inscrire
            </a>
          </li>
          <li>
            <a href="/login">
              <i class="fas fa-right-to-bracket"></i> <!-- Nouvelle icône pour "Se connecter" -->
              Se connecter
            </a>
          </li>
        </ul>
    </nav>

</body>
</html>
