<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Définition de l'encodage des caractères -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Adaptabilité sur les écrans -->
    <link href="css/programmeTv.css" rel="stylesheet"> <!-- Lien vers le CSS externe -->
    <link rel="stylesheet" href="css/navbar.css">

    <title>Chaîne TV</title> <!-- Titre de l'onglet du navigateur -->
</head>
<body>
  <%- include('navbar') %> <!-- Inclusion de la barre de navigation -->
  <main>
    
    <h1>Programme TV</h1> <!-- Titre principal -->
    <p>Découvrez nos programmes culturels.</p> <!-- Description de la page -->
    
    <!-- Liste des programmes affichés dynamiquement -->
    <ul>
      <% programmediffusion.forEach(programme => { %>
        <li>
          <!-- Première vidéo -->
          <iframe width="560" height="315"
                  src="https://www.youtube.com/embed/ZKeMRVw3V-A?pp=ygUHQ2hpZ29tYQ%3D%3D"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
          </iframe>
          
          <!-- Seconde vidéo -->
          <iframe width="560" height="315"
                  src="https://www.youtube.com/embed/9sdex0k3jhg?si=o31oYip_B5wzs04S"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
          </iframe>

          <!-- Troisième vidéo -->
          <iframe width="560" height="315"
                  src="https://www.youtube.com/embed/68dwGIq35q0?si=6H8kUTQVm4tEeJWZ"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
          </iframe>

          <!-- Quatrième vidéo ajoutée -->
          <iframe width="560" height="315"
                  src="https://www.youtube.com/embed/_95yYcAuMsQ?si=VeFH5bYdZc8urtB7"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
          </iframe>
          
          <!-- Affichage des informations du programme -->
          <p>
            <%= programme.titre %> - <%= programme.heure_debut %> - <%= programme.heure_fin %>
          </p>
        </li>
      <% }) %>
    </ul>
  </main>
</body>
</html>
