main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  nav {
    background-color: #333;
    padding: 1em;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    color: black;
    text-decoration: none;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin: 1em 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    background: rgb(53, 82, 41);
    margin: 0.5em auto;
    padding: 1em;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  footer {
    text-align: center;
    margin: 2em 0;
    color: #666;
  }
  